@font-face {
    font-family: 'Pacifico-Regular';
    src: url(/Pacifico/Pacifico-Regular.ttf) format('opentype');
}
html{
    --cl-red:#dc3545;
    --cl-bleu:#0d6efd;
    --cl-green:#198754;
    --cl-blanc:#fff;
    --cl-code:#161b21;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
footer,header{
    display: flex;
    background-color: #000;
    flex-wrap: wrap;
    color: var(--cl-blanc);
    justify-content: space-around;
    padding: 10px;
}
a{
    text-decoration: none;
    color: inherit;
}

:is(header  div:first-child,footer > div:first-child) img{
    border-radius: 20pc;
    background-color: var(--cl-blanc);
    margin: 0 10px;
    transition: background cubic-bezier(0.55, 0.055, 0.675, 0.19) ;
}
:is(header  div:first-child,footer > div:first-child) p{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: 'Pacifico-Regular';
}
:is(header)  div,footer .container div:first-child{
    display: flex;
    align-items: center;
}
header div:last-child button {
    font-size: 1em;
    border-radius: 20px;
    padding: 0.5em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
main{
    width: 90%;
    margin: 25px auto;
    background-color: #25262a;
    border: 1px solid;
    border-radius: 10px;
    padding: 15px;
}
.button-pos{
    width: 90%;
    position: relative;
    margin: 25px auto;
}
.color{
    height: 400px;
    width: 100%;
    transition: all 1s;
    background-color: var(--cl-green);
    box-shadow: 0 0px 20px black ;
    border-radius: 15px;
    border: 0;
    overflow: hidden;
}
.copier{
    position: absolute;
    bottom: -70px;
    right: 0;
    margin: 15px;
    border-radius: 20px;
    box-shadow: 0 0px 5px black ;
    color: var(--cl-blanc);
    font-weight: bold;
    font-family: Pacifico-Regular;
    letter-spacing: 3px;
    text-transform: capitalize;
    background-color: transparent;
    border: 1px solid #25262a;
    font-size: 1em;
    padding: 0.5em;
    transition: all .5s;
    animation: copitext .6s forwards;
    opacity: 1;
}
@keyframes copitext {
    100%{
        bottom: 0;
        right: 2px;
        opacity: 1;
    }
}
.color::after{
    content: 'click me';
    position: absolute;
    top: 60%;
    left: 50%;
    color: var(--cl-blanc)fffa4;
    transform: translate(-50%,-50%);
    animation: colortext .6s forwards;
    opacity: 0;
}
@keyframes colortext {
    100%{
        top: 50%;
        opacity: 1;
    }
}
main .copier:hover {
    background-color: #25262a;
}
.champs{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.r,.g,.b{
    width: 26%;
    height: 150px;
    text-align: center;
    font-size: 400%;
    border-radius: 15px;
    /* overflow: hidden; */
    color: white;
    font-weight: bold;
    position: relative;
}
.champs .item::after{
    position: absolute;
    content: 'r';
    font-size: 300%;
    top: -20%;
    text-transform: uppercase;
    left: 0;
    color: #ffffff86;
    
}
.champs .item.g::after{
    content: 'g';
}
.champs .item.b::after{
    content: 'b';
}
.r{
    background-color: var(--cl-red);   
}
.g{
    background-color: var(--cl-green);
}
.b{
    background-color: var(--cl-bleu);
}
[type="text"]{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 90%;
    width: 110px;
    background-color: rgba(255, 0, 0, 0);
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
}
.ombre{
    text-align: center;
    font-size: 300%;
    color: aqua;
    text-shadow: -90px -212px 5px rgba(0, 0, 0, 0.507);
    transform: translate(20%,156px);
    height: 10px;
    /* overflow: hidden; */
}
#copi{
    background-color: bisque;
    box-shadow: 0 0 5px black;
    display: none;
    width: 20%;
    padding: 20px;
    border: 1px solid black;
    border-bottom-right-radius: 15px;
    color: red;
}
input:invalid{
    color: rgb(0, 0, 0);
    animation-name: ip;
    animation-duration: 0.3s;
    transition: all .2s ease-in-out;
    animation-iteration-count: 2;
}
@keyframes ip{
    50%{transform: translate(30px);}
    100%{transform: translate(-30px);}
}

.ppoopp{
    transition: all 2s;
    position: fixed;
    bottom: -260px;
    right: 0;
    z-index: 455;
    margin: 20px;
    animation: pop 2.5s forwards;
    /* opacity: 0; */
    bottom: 0;
    opacity: 1;
}
.ppoopp::after{
    content: '';
    position: absolute;
    inset: -15px ;
    
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.7);
    z-index: -1;

}
/* @keyframes pop{
    100%{
        bottom: 0;
        opacity: 1;
    }
} */

.pop{
    border-radius: 20px;
    overflow: hidden;
    width: 300px;
    height: 250px;
    display: block;
    color: wheat;
    text-align: right;
}
.pop-color{
    width: 100%;
    height: 140px;
    background-color: var(--cl-green);
}
.pop-text{
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    padding: 10px 0;
    display: grid;
    grid-template-areas: 
        "rgb rgb cp"
        "msg msg msg"
        "auth c c"
    ;
    grid-gap: 10px;
}
.pop-text .rgb{
    grid-area: rgb;
    background-color: var(--cl-code);
    color: var(--cl-blanc);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cr{
    position: absolute;
    right: 0;
    margin: 10px 20px 0 0;
    background-color: transparent;
    border: 1px solid var(--cl-red);
    padding: .5em;
    border-radius: 20px;
    transition: all .5s;
}
.cr:hover{
    background-color: var(--cl-red);
    color: var(--cl-blanc);
}

.ppoopp::after,.icon,.rgb, .author,.msg,.icon img,.pop-color{
    border-radius: 20px;
}
.rgb{

    grid-gap: 0;
}
.pop-text .icon{
    grid-gap: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cl-code);
    gap: 0;
    height: 40px;
}
.pop-text .icon img{
    padding: 10px;
}
.pop-text .msg{
    grid-area: msg;
    margin: 0;
    padding: 10px;
    font-size: 15px;
    background-color: var(--cl-blanc);
    color: #000;
    display: flex;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
.pop-text .author{
    display: none;
    font-family: Pacifico-Regular;
    font-size: 20px;
    grid-area: auth;
    padding: 0;
    justify-content: center;
    background-color: var(--cl-blanc);
    color: #000;
}
.author span{
    width: 100%;
    display: block;
}

/* footer------------ */
footer .container{
    width: 40%;
}
footer .container .des{
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}
footer h3{

    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer a .item{
    font-family:Arial, Helvetica, sans-serif ;
    margin: 5px 0;
}
footer a .item:hover{
    text-decoration: underline;
}
@media screen and (max-width:700px) {
    
    footer {
        flex-direction: column;
        padding-left: 20px;
    }
    footer > div{
        width: 100%;
    }
    footer .link-group{
        margin-left: 20px;
        width: 90%;
    }
    footer a  .item{
        padding-left: 20px;
    }
    footer .container .des{
        width: 100%;
    }
    .champs{
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
        width: 90%;
    }
    .champs .item{
        background-color: transparent;
        width: 100%;
        height: 50px;
        margin: 10px 0;
        padding: 0;
        position: relative;
    }
    .champs .item::after{
        font-size: 25px;
        top: 0;
        left: 0;
        width: 20%;
        background-color: var(--cl-red);
        padding: 10px;
        border-radius: 10px;
        color: var(--cl-blanc);
    }
    .champs .item.g::after{
        background-color: var(--cl-green);
    }
    .champs .item.b::after{
        background-color: var(--cl-bleu);
    }
    input[type=text]{
        position: absolute;
        background-color: var(--cl-blanc);
        border-radius: 20px;
        color: #000;
        top: 0;
        right: 0;
        bottom: 0;
        font-size: 20px;
        width: 70%;
    }
    .ppoopp{
        margin: 0;
        padding: 0;
        width: 100%;
        inset: 0 0 0 0;
    }
    .ppoopp::after{
        inset: 0 0 0 0;
        background-color: #0f0e0eb2;
        filter: blur(5px);
        position: absolute;
        content: '';
        
    }
    .ppoopp .pop{
        overflow: visible;
        z-index: 2;
        position: absolute;
        top: 50%;
        background-color: transparent;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
       
    }
    .pop-color{
        border-radius: 20px ;
    }
    .cr{
        color: var(--cl-blanc);
        font-size: 18px;
        text-transform: capitalize;
        background-color: var(--cl-red);
        top: -50px;
        width: 50%;
        margin: 0;
    }
    .pop-text{
        width: 100%;
    }
    .pop-text .rgb{
        transform: translatex(15%);
        font-size: 20px;
    }
    .pop-text .icon{
        grid-area: cp;
        display: flex;
        align-items: center;
        background-color: transparent;
        justify-content: end;
        height: 50px;
    }
    .pop-text .icon img{
        background-color: var(--cl-code);
        padding: 10px;
    }
    .pop-text .msg{
        grid-area: msg;
        margin: 0;
        padding: 10px;
        font-size: 20px;
        display: flex;
        align-items: center;
        font-family: 'Courier New', Courier, monospace;
    }
    .pop-text .author{
        display: block;
        text-align: center;
    }
}
