/* section avis */


.avis .but button{
    position: fixed;
    bottom: 20px;
    left: 20px;
    border-radius: 20px;
    font-size: 18px;
    font-family: 'Pacifico-Regular';
    padding: 0.3em 0.5em;
    color: var(--cl-blanc);
    background-color: var(--cl-bleu) ;
    opacity: 0.5;
    transition: all .3s;
    z-index: 2;
    overflow: hidden;
}
.avis .but button:hover{
    transition: all .3s;
    opacity: 1;
}

.avis .but button::after{
    position: absolute;
    content: '';
    top: -5px;
    left: -10px;
    width: 5px;
    height: 120%;
    background-color: var(--cl-blanc);
    transform: rotate(30deg);
    z-index: -1;
}
.avis .but button:hover::after{
    transition: all 2.5s;
    box-shadow: 0 0 10PX var(--cl-blanc) ;
    left: 110%;
}
.omb{
    position: relative;
    background-color: transparent;
    display: none;
}
.avis .omb.active{
    display: block;
    position: fixed;
    z-index: 2;
    inset: 0;
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.7);
}
.avis form{
    position: relative;
    margin: 50px auto;
    width: 50%;
    text-align: left;
}
.avis form h3{
    color: var(--cl-blanc);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 7px;
    font-family: Pacifico-Regular;
}
.avis form *{
    display: block;
    margin: 0 auto 20px auto;
    width: 80%;
    outline: none;
    resize: vertical;
    font-size: 16px;
    padding: .5em .5em;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.avis .clor{
    background-color: var(--cl-green);
    padding: .7em;
    height: 60px;
    color: #ffffff6b;
    transition: background-color 0.3s;
}
.avis form .fermer{
    position: absolute;
    top: 5px;
    right: -75px;
    width: initial;
    color: var(--cl-blanc);
    transition: all .3s ease-in-out;
    background-color: transparent;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    border:2px solid var(--cl-red);
}
.avis form input,.avis form textarea{
    background-color: transparent;
    border: 2px solid var(--cl-blanc);
    color: var(--cl-blanc);
}
.avis form textarea{
    height: 200px;
}
.avis form textarea::placeholder,
.avis form input::placeholder{
    color: var(--cl-blanc);
}
.avis form button{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: transparent;
    color: var(--cl-blanc);
    transition: all .3s ease-in-out;
    border:2px solid var(--cl-green);
}


.avis form button:hover,
.avis form .fermer:hover{
    transition: all .3s ease-in-out;
    background-color: var(--cl-green);
}
.avis form .fermer:hover{
    background-color: var(--cl-red);
}
.avis .erroForm{
    transform: translateY(-10px);
    color: var(--cl-red);
    background-color: #0000004d;
    margin-bottom: 0;
    text-align: center;
}

/* fin section avis */