
@media screen and (max-width:700px) {
    
    footer {
        flex-direction: column;
        padding-left: 20px;
    }
    footer > div{
        width: 100%;
    }
    footer .link-group{
        margin-left: 20px;
        width: 90%;
    }
    footer a  .item{
        padding-left: 20px;
    }
    footer .container .des{
        width: 100%;
    }
    .champs{
        flex-direction: column;
        margin: 0 auto;
        width: 90%;
    }
    .champs .item{
        background-color: transparent;
        width: 100%;
        height: 50px;
        margin: 10px 0;
        position: relative;
        overflow: visible;
    }
    .champs .item::after{
        font-size: 25px;
        top: 0;
        left: 0;
        width: 20%;
        background-color: var(--cl-red);
        padding: 10px;
        border-radius: 10px;
        color: var(--cl-blanc);
    }
    .champs .item.g::after{
        background-color: var(--cl-green);
    }
    .champs .item.b::after{
        background-color: var(--cl-bleu);
    }
    .champs input[type=text]{
        position: absolute;
        background-color: var(--cl-blanc);
        border-radius: 20px;
        color: #000;
        top: 0;
        right: 0;
        bottom: 0;
        font-size: 20px;
        width: 65%;
        left: auto;
        transform: translate(0);
    }
    .ppoopp{
        display: none;
        margin: 0;
        padding: 0;
        width: 100%;
        inset: 0 0 0 0;
    }
    .ppoopp::after{
        content: '';
        /* position: absolute; */
        inset: -15px ;
        /* padding: ; */
        
        backdrop-filter: blur(12px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(17, 25, 40, 0.7);
        z-index: -1;
        
    }
    .ppoopp .pop{
        overflow: visible;
        z-index: 2;
        position: absolute;
        top: 50%;
        background-color: transparent;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
       
    }
    .pop.second{
        display: none;
    }
    .pop::after{
        content: none;
        background-color: transparent;
    }
    .pop-color{
        border-radius: 20px ;
    }
    .cr{
        color: var(--cl-blanc);
        font-size: 18px;
        text-transform: capitalize;
        background-color: var(--cl-red);
        top: -50px;
        width: 50%;
        margin: 0;
    }
    .pop-text{
        width: 100%;
    }
    .pop-text .rgb{
        transform: translatex(15%);
        font-size: 20px;
    }
    .pop-text .icon{
        grid-area: cp;
        display: flex;
        align-items: center;
        background-color: transparent;
        justify-content: end;
        height: 50px;
    }
    .pop-text .icon img{
        background-color: var(--cl-code);
        padding: 10px;
    }
    .pop-text .msg{
        grid-area: msg;
        margin: 0;
        padding: 10px;
        font-size: 20px;
        display: flex;
        align-items: center;
        font-family: 'Courier New', Courier, monospace;
    }
    .pop-text .author{
        display: block;
        text-align: center;
    }
}
